<a href="https://colab.research.google.com/github/moshehaimlevi/examlib2-14-05/blob/main/examlib2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from IPython.display import display
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/My Drive/order_item.csv'
order_item_df = pd.read_csv(file_path)

drive.mount('/content/drive')
file_path = '/content/drive/My Drive/customers.csv'
customers_df = pd.read_csv(file_path)

drive.mount('/content/drive')
file_path = '/content/drive/My Drive/orders.csv'
orders_df = pd.read_csv(file_path)

drive.mount('/content/drive')
file_path = '/content/drive/My Drive/Items.csv'
items_df = pd.read_csv(file_path)

Mounted at /content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
################################ QUESTION NUMBER 1 ################################
################################ ERASING DUPS ################################
items_df = items_df.copy()
order_item_df = order_item_df.copy()

items_df['non_null_count'] = items_df.notnull().sum(axis=1)

best_items = items_df.sort_values(['item_name', 'non_null_count'], ascending=[True, False]) \
                     .drop_duplicates(subset='item_name', keep='first')

id_map = items_df.merge(best_items[['id', 'item_name']], on='item_name', suffixes=('_old', '_new'))
id_map = id_map[id_map['id_old'] != id_map['id_new']][['id_old', 'id_new']]

order_item_df['item_id'] = order_item_df['item_id'].replace(dict(zip(id_map['id_old'], id_map['id_new'])))

items_cleaned = best_items.drop(columns=['non_null_count'])


print("Cleaned items table:")
print(items_cleaned)

print("\nUpdated order_item table:")
print(order_item_df)

Cleaned items table:
    id            item_name                   item_category  item_price  \
0   26        Action Camera           Photography Equipment     2694.25
1   37   Antivirus Software                        Software     4186.62
2   11       Blu-Ray Player     Video Players and Recorders     3382.86
3   25            Camcorder           Photography Equipment      860.01
4    7               Camera           Photography Equipment     2366.72
7   18     Computer Monitor       Computers and Accessories     4076.35
8   27          Dash Camera           Photography Equipment     1283.99
9    3              Desktop       Computers and Accessories     1121.84
11  24                Drone        Televisions and Displays     4449.99
14  21  External Hard Drive       Computers and Accessories     1251.36
15  15      Fitness Tracker  Mobile Devices and Accessories     2997.29
16  30         Gaming Chair                Gaming Equipment      417.16
17  34           HDMI Cable                          Cables     1710.84
19  49            Headphone                 Audio Equipment     1317.56
20  19             Keyboard       Computers and Accessories      604.18
21   2               Laptop       Computers and Accessories     1851.32
23  23        Micro SD Card                 Storage Devices     3238.23
24  36                Modem                             NaN     3256.88
25  20                Mouse       Computers and Accessories     1333.04
26  38      Office Software   Printers and Office Equipment     3454.82
27  32     Portable Charger  Mobile Devices and Accessories     1523.27
28  39          Power Strip   Printers and Office Equipment     3344.90
29   6              Printer   Printers and Office Equipment     4175.99
31  17          Smart Watch        Televisions and Displays      312.88
33   4           Smartphone  Mobile Devices and Accessories      965.20
36  50              Speaker                 Audio Equipment     4453.90
37  33      Surge Protector   Printers and Office Equipment      488.39
39  46               Tablet  Mobile Devices and Accessories     1606.65
40   1           Television        Televisions and Displays      356.81
43  22      USB Flash Drive                             NaN     1150.87
46  41           VR Headset                             NaN     1905.01
44  13           Video Game                             NaN     1890.03
45  12   Video Game Console                Gaming Equipment      689.61
47  29               Webcam   Printers and Office Equipment     4227.36
48  35         Wi-Fi Router               Network Equipment     3812.53
49  31     Wireless Charger  Mobile Devices and Accessories      241.54

    stock_quantity item_brand  item_availability
0              NaN       Bose              False
1              NaN        NaN              False
2            704.0       ASUS               True
3            870.0       Bose               True
4            458.0  Microsoft               True
7           1205.0       Bose               True
8            550.0     Lenovo               True
9            334.0         HP               True
11           443.0    Samsung               True
14          1013.0  Microsoft               True
15           956.0      Apple               True
16           704.0    Samsung               True
17           869.0        JBL               True
19             NaN       Sony              False
20             NaN  Panasonic              False
21           493.0         HP               True
23           663.0       Sony               True
24           673.0       Bose               True
25           881.0   Logitech               True
26           643.0        JBL               True
27           192.0         HP               True
28          1211.0         HP               True
29           971.0       Sony               True
31           685.0      Canon               True
33           201.0       Bose               True
36           937.0   Logitech               True
37           800.0       ASUS               True
39           267.0         HP               True
40          1009.0        JBL               True
43          1251.0  Panasonic               True
46          1367.0        JBL               True
44           681.0     Lenovo               True
45           753.0  Microsoft               True
47           596.0       Dell               True
48            14.0  Microsoft               True
49           951.0     Lenovo               True

Updated order_item table:
       id  order_id  item_id  quantity
0       1       337     24.0         2
1       2       430     27.0         6
2       3       430     36.0         2
3       4       508     46.0         1
4       5       229     27.0         2
..    ...       ...      ...       ...
995   996       594     24.0         2
996   997       330     32.0         8
997   998       472     24.0         3
998   999       222     29.0         1
999  1000       337     24.0         1

[1000 rows x 4 columns]

In [17]:
############# ALSO Q1 ###########
customers_df['null_count'] = customers_df.isnull().sum(axis=1)

customers_to_remove = customers_df[customers_df['null_count'] >= 3]['id']

customers_cleaned = customers_df[~customers_df['id'].isin(customers_to_remove)].drop(columns='null_count')

order_item_cleaned = order_item_df[~order_item_df['id'].isin(customers_to_remove)]

print("Cleaned customers:")
print(customers_cleaned)

print("\nCleaned order_item:")

Cleaned customers:
      id first_name  last_name  gender   age   nationallity joining_date  \
0      1      Eadie     Maffeo  Female  41.0         France   11/01/2022
1      2     Hammad  Brewerton    Male  56.0         Isreal   30/09/2022
2      3    Terrell       Bris    Male  43.0          India          NaN
3      4    Frannie   Morewood    Male  84.0         France   26/05/2021
4      5      Sophi      Fleet  Female  33.0         Sweden   19/07/2021
..   ...        ...        ...     ...   ...            ...          ...
495  496     Renado     Monard    Male  53.0          India          NaN
496  497     Kalina       Luno  Female  30.0          Italy   16/10/2022
497  498        Viv  Callander  Female  44.0         France   24/02/2021
498  499      Georg      Raper    Male  41.0        Germany   24/04/2022
499  500   Richardo   O'Criane    Male  32.0  United States   06/08/2021

     phone_number                      email
0    534-341-9052        emaffeo0@smh.com.au
1    999-994-0510  hbrewerton1@discovery.com
2    980-455-5208            tbris2@yale.edu
3    979-187-1493  fmorewood3@vistaprint.com
4    991-853-9984         sfleet4@unicef.org
..            ...                        ...
495  399-472-4819         rmonarddr@yale.edu
496  659-768-2522     klunods@friendfeed.com
497  447-685-9318       vcallanderdt@icq.com
498  863-207-4830     graperdu@homestead.com
499  796-438-2219   rocrianedv@geocities.com

[494 rows x 9 columns]

Cleaned order_item: